.root {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    grid-column: span 12;
}

.header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--primary-color);
}

.title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: -0.02em;
}

.bento {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.groupSpan9 { grid-column: span 9; }
.groupSpan8 { grid-column: span 8; }
.groupSpan6 { grid-column: span 6; }
.groupSpan4 { grid-column: span 4; }
.groupSpan3 { grid-column: span 3; }
.groupSpan2 { grid-column: span 2; }

.label {
    font-size: 0.625rem;
    font-weight: 800;
    color: var(--text-muted);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.mapCard {
    padding: 1rem;
    background-color: rgb(128, 128, 128, 0.08);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.mapInfo {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--primary-color);
}

.mapText {
    display: flex;
    flex-direction: column;
}

.mapLabel {
    font-size: 0.625rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--gray-500);
}

.mapAddress {
    font-size: 0.875rem;
    font-weight: 600;
    margin: 0;
    color: var(--text-main);
}

@media (width <= 48rem) {
    .group {
        grid-column: span 12 !important;
    }
    
    .mapCard {
        flex-direction: column;
        align-items: stretch;
    }
}
