.patient-contact-fields {
    --card-padding: 1.5rem;
    
    background-color: var(--white);
    border-radius: var(--radius); /* XL 1.5rem */
    padding: var(--card-padding);
    box-shadow: var(--shadow-premium);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    grid-column: span 12;
}

.patient-contact-fields__header {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    color: var(--primary-color);
}

.patient-contact-fields__title {
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    letter-spacing: -0.02em;
}

.patient-contact-fields__bento {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
}

.patient-contact-fields__group {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.patient-contact-fields__group--span-12 { grid-column: span 12; }

.patient-contact-fields__label {
    font-size: 0.625rem;
    font-weight: 800;
    color: var(--gray-950);
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.patient-contact-fields__input-with-action {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.patient-contact-fields__input-with-action :first-child {
    flex: 1;
}

.patient-contact-fields__phones {
    margin-top: 0.5rem;
}

@media (width <= 48rem) {
    .patient-contact-fields__bento {
        display: flex;
        flex-direction: column;
    }
}
