.PhoneInput__root {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    width: 100%;
}

.PhoneInput__select {
    flex-shrink: 0;
    width: 12ch;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.PhoneInput__input {
    flex: 1;
    min-width: 0;
}
