# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example

# pnpm
# Rastreamos los archivos de configuración y el lockfile
!pnpm-lock.yaml
!pnpm-workspace.yaml
# Ignoramos el store y node_modules
**/.pnpm-store/
node_modules/
.pnpm-debug.log


# Database
server/02-dev-seed.sql
