[Desktop Entry]
Version=1.0
Name=Secretary App
Comment=Start Clinical Management System
Exec=/home/cima/Documentos/secretary-app/start_app.sh
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=Office;
