/* ProtectedRoute Atom Styles (BEM) */

.ProtectedRoute__root {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-bg, white);
}

.ProtectedRoute__content {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary-color);
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }
}
