/* ChatPage.css */



@media (width <= 768px) {
    .ChatPage__chatPageOrchestrator .ChatPage__chatSidebar {
        width: 100%;
        position: absolute;
        inset: 0;
        z-index: 20;
        transition: transform 0.3s ease;
    }

    .ChatPage__chatPageOrchestrator .ChatPage__chatWindow {
        width: 100%;
        position: absolute;
        inset: 0;
        z-index: 10;
    }

    /* When a convo is selected, slide out the sidebar */
    .ChatPage__chatPageOrchestratorConvoSelected .ChatPage__chatSidebar {
        transform: translateX(-100%);
    }

    .ChatPage__chatPageOrchestratorConvoSelected .ChatPage__chatWindow {
        z-index: 30;
    }
}
