.Alert__root {
    /* --- Local Component Tokens --- */
    --alert-bg: var(--gray-50);
    --alert-border: var(--gray-200);
    --alert-text: var(--gray-800);

    /* ------------------------------ */

    padding: 1rem;
    border-radius: 0.75rem;
    border: 1px solid var(--alert-border);
    background-color: var(--alert-bg);
    color: var(--alert-text);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.Alert__root--info {
    --alert-bg: var(--blue-50);
    --alert-border: var(--blue-200);
    --alert-text: var(--blue-800);
}

.Alert__root--warning {
    --alert-bg: var(--amber-50);
    --alert-border: var(--amber-200);
    --alert-text: var(--amber-800);
}

.Alert__root--success {
    --alert-bg: var(--green-50);
    --alert-border: var(--green-200);
    --alert-text: var(--green-800);
}

.Alert__title {
    font-weight: 700;
    margin: 0;
    font-size: 1rem;
}

.Alert__message {
    font-size: 0.875rem;
    margin: 0;
    line-height: 1.5;
}