.LanguageSelector__root {
    width: 100%;
}

.LanguageSelector__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.LanguageSelector__icon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

.LanguageSelector__text {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--text-secondary, #475569);
}